$primary-color: lightgreen;

.arc-form {
  display: flex;
  flex-direction: column;
}

.publishers {
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .publishers__button--add {
    background-color: $primary-color;
  }
}